version: '3.1'

services:
  joomla:
    container_name: 'joomsandbox'
    image: joomla
    restart: always
    links:
      - joomladb:mysql
    ports:
      - "${PORT:-80}:80"
    volumes: ["./cms:/var/www/html"]
    environment:
      JOOMLA_DB_HOST: joomladb:3306
      JOOMLA_BD_USER: root
      JOOMLA_DB_PASSWORD: "${JOOMLA_DB_PASSWORD:-pasword}"
    networks:
      - joomla
      - ingress_default

  joomladb:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: joomla_sandbox
      MYSQL_ROOT_PASSWORD: "${JOOMLA_DB_PASSWORD:-pasword}"
    networks:
      - joomla
  phpmyadmin:
    image: phpmyadmin
    links:
      - joomladb:mysql
    ports:
      - "${PHP_ADMIN_PORT:-81}:80"
    environment:
      - PMA_HOST=mysql
networks:
  joomla:


